{% load static %}
   {% include 'app/base.html' %}
    {% block content %}
<link rel="stylesheet" href="home.css"/>
<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>our branches</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i> Manila </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Baguio </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Tagaytay </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Cebu </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Davao </a>
        </div>


        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fas fa-phone"></i> +63558670643 </a>
            <a href="#"> <i class="fas fa-phone"></i> +639708931233 </a>
            <a href="#"> <i class="fas fa-envelope"></i> kelvinjoulecongreso@gmail.com </a>
            <a href="#"> <i class="fas fa-envelope"></i> Bacoor, Cavite </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="https://web.facebook.com/RambuMyLoveLove"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
        </div>

    </div>

    <div class="credit"> created by <span><a href="https://web.facebook.com/RambuMyLoveLove">Kelvin Congreso</a></span> | all rights reserved </div>
    {% endblock content %}